.ant-modal-wrap.phone-modal .ant-modal-content {
    padding: 20px;
}

.ant-modal-wrap.phone-modal .ant-modal-header {
    padding-top: 0;
    padding-left: 0;
}

.ant-modal-wrap.phone-modal .ant-modal-title {
    font-size: 20px;
    color: #1268B3;
    font-family: MyriadPro-Regular;
    font-weight: normal;
}

.ant-modal-wrap.phone-modal .form-control {
    height: 42px;
    font-size: 18px;
}

.ant-modal-wrap.phone-modal .form-wrap {
    margin-bottom: 40px;
}

.form-btn {
    text-align: right;
}

.sbmt-btn {
    font-size: 18px;
    font-family: MyriadPro-Semibold;
    letter-spacing: 0.03px;
    color: #FFFFFF;
    display: inline-block;
    background: #1268B3;
    border-radius: 4px;
    border: none;
    padding: 5px 24px;
    cursor: pointer;
}

@media screen and (max-width: 767px) {
    .ant-modal-wrap.phone-modal .ant-modal-body {
        padding-left: 0;
        padding-right: 0;
    }
}