.admin-dashboard-wrapper {
  padding: 20px 34px 24px;
  margin-top: 60px;
  margin-left: 100px;
}

.admin-dashboard-block {
  padding: 20px 30px;
  height: 100%;
  min-height: calc(100vh - 104px);
  border-radius: 8px;
  background: #fff;
}

.admin-dashboard-head {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.admin-dashboard-head h2 {
  margin: 0;
  font-size: 26px;
  color: #333333de;
  font-family: MyriadPro-Regular;
}

.admin-dashboard-search {
  flex: 1;
  max-width: 493px;
  position: relative;
}

.admin-dashboard-search > div {
  position: absolute;
  top: 14px;
  right: 10px;
  cursor: pointer;
}

.admin-dashboard-search > div svg {
  width: 16px;
  height: 16px;
}

.admin-dashboard-search .search-fld {
  height: 48px;
  line-height: 48px;
  border: 1px solid #dededf;
  border-radius: 4px;
  // background: #fff url(../../assets/images/search.svg) no-repeat
  //   scroll 13px 15px;
  padding: 0 30px 0 40px;
  width: 100%;
  font-size: 20px;
  color: #333;
  font-family: MyriadPro-Regular;
}

.admin-dashboard-search .search-fld::placeholder {
  color: #b5b5b5;
}

.admin-dashboard-table {
  overflow: hidden;
  overflow-x: auto;
}

.admin-dashboard-table table {
  width: 100%;
}

.admin-dashboard-table table thead tr {
  background: #1268b3;
}

.admin-dashboard-table table thead tr th {
  color: #fff;
  padding: 11px 15px;
  font-weight: normal;
  font-family: MyriadPro-Semibold;
  font-size: 18px;
}

.admin-dashboard-table table thead tr th.action-title {
  text-align: center;
}

.admin-dashboard-table table tr td {
  padding: 11px 15px;
  font-weight: normal;
  font-family: MyriadPro-Regular;
  font-size: 18px;
  color: #333333;
}

.admin-dashboard-table table tbody tr:nth-of-type(odd) {
  background: #f3f3f3;
}

.admin-dashboard-table table tbody tr .checkbox-wrap {
  text-align: center;
}

.admin-dashboard-table table tbody tr td label {
  display: block;
  position: relative;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  height: 22px;
}

.admin-dashboard-table table tbody tr td label input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.admin-dashboard-table table tbody tr td label .checkmark-box {
  position: absolute;
  top: 0;
  left: 0;
  height: 22px;
  width: 22px;
  background-color: #fff;
  border: 1px solid #767777;
  border-radius: 4px;
}

.admin-dashboard-table
  table
  tbody
  tr
  td
  label:hover
  input
  ~ .checkmark-box {
  background-color: #1268b3;
  border-color: #1268b3;
}

.admin-dashboard-table
  table
  tbody
  tr
  td
  label:hover
  input:not(:checked):disabled
  ~ .checkmark-box,
.admin-dashboard-table
  table
  tbody
  tr
  td
  label
  input:not(:checked):disabled
  ~ .checkmark-box {
  background-color: #ccc;
  border-color: #ccc;
  cursor: not-allowed;
}

.admin-dashboard-table
  table
  tbody
  tr
  td
  label:hover
  input:checked:disabled
  ~ .checkmark-box,
.admin-dashboard-table
  table
  tbody
  tr
  td
  label
  input:checked:disabled
  ~ .checkmark-box {
  background-color: #add8e6;
  border-color: #add8e6;
  cursor: not-allowed;
}

.admin-dashboard-table
  table
  tbody
  tr
  td
  label
  input:checked
  ~ .checkmark-box {
  background-color: #1268b3;
  border-color: #1268b3;
}

.checkmark-box:after {
  content: '';
  position: absolute;
  display: none;
}

.admin-dashboard-table
  table
  tbody
  tr
  td
  label
  input:checked
  ~ .checkmark-box:after {
  display: block;
}

.admin-dashboard-table table tbody tr td label .checkmark-box:after {
  left: 7px;
  top: 2px;
  width: 7px;
  height: 12px;
  border: solid white;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.admin-dashboard-table table tbody tr td button {
  border: none;
  font-size: 16px;
  background: #00aeef;
  color: #fff;
  border-radius: 5px;
  width: 83px;
  cursor: pointer;
  height: 28px;
}

.admin-dashboard-table table tbody tr td button[disabled] {
  color: #c6c6c6;
  background: #d4d8da;
}

.admin-dashboard-table table tbody tr td .info-icon {
  cursor: pointer;
  margin-left: 8px;
  display: inline-block;
}

.admin-dashboard-table
  table
  tbody
  tr
  td
  .edit-distributor-contact-icon {
  cursor: pointer;
  margin-left: 8px;
  display: inline-block;
}

.admin-dashboard-table table tbody tr td.admin-ations {
  min-width: 120px;
}

.admin-dashboard-table table tbody tr td.admin-ations .action-btns {
  display: flex;
  justify-content: center;
}

.admin-dashboard-table
  table
  tbody
  tr
  td.admin-ations
  .action-btns
  button {
  width: auto;
  background: transparent;
  padding: 0;
  height: auto;
  color: #1268b3;
  display: inline-block;
}

.admin-dashboard-table
  table
  tbody
  tr
  td.admin-ations
  .action-btns
  button
  .anticon-check-circle
  svg {
  width: 19px;
  height: 19px;
}

.admin-dashboard-table
  table
  tbody
  tr
  td.admin-ations
  .action-btns
  button:disabled {
  color: #c6c6c6;
}

.admin-dashboard-table table tbody tr td .info-icon span {
  color: #1268b3;
}

.admin-dashboard-table table tbody tr td .info-icon span svg {
  width: 18px;
  height: 18px;
}

.admin-dashboard-table
  table
  tbody
  tr
  td
  .edit-distributor-contact-icon
  span {
  color: #1268b3;
}

.admin-dashboard-table
  table
  tbody
  tr
  td
  .edit-distributor-contact-icon
  span
  svg {
  width: 18px;
  height: 18px;
}

@media (max-width: 1400px) {
  .admin-dashboard-search {
    max-width: 380px;
  }

  .admin-dashboard-search .search-fld {
    font-size: 16px;
  }

  .admin-dashboard-table table thead tr th,
  .admin-dashboard-table table tr td {
    font-size: 16px;
  }

  .admin-dashboard-table table tr td.admin-dbstate {
    min-width: 100px;
    white-space: normal;
    word-break: break-word;
  }

  .admin-dashboard-table table tr td.admin-dbname {
    min-width: 120px;
    white-space: normal;
    word-break: break-word;
  }

  .admin-dashboard-table table tbody tr td a {
    color: #1268b3;
  }

  .admin-dashboard-table table tbody tr td a:focus {
    text-decoration: none;
  }

  .admin-dashboard-table table tbody tr td label {
    height: 18px;
  }

  .admin-dashboard-table table tbody tr td label .checkmark-box {
    width: 18px;
    height: 18px;
  }

  .admin-dashboard-table
    table
    tbody
    tr
    td
    label
    .checkmark-box:after {
    left: 5px;
    top: 2px;
    width: 6px;
    height: 10px;
  }

  .admin-dashboard-table table tbody tr td button {
    font-size: 14px;
    width: 70px;
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  .admin-dashboard-wrapper {
    margin-left: 80px;
  }

  .admin-dashboard-table {
    overflow: auto;
  }

  .admin-dashboard-table table thead tr th,
  .admin-dashboard-table table tr td {
    font-size: 14px;
  }
}

@media (max-width: 767px) {
  .admin-dashboard-wrapper {
    margin-left: 0;
    padding: 20px 15px;
  }

  .admin-dashboard-block {
    padding: 20px 15px;
  }

  .admin-dashboard-head {
    display: block;
  }

  .admin-dashboard-table {
    overflow: auto;
  }

  .admin-dashboard-table table thead tr th,
  .admin-dashboard-table table tr td {
    font-size: 14px;
  }
}
