.no-access-wrapper {
    padding: 20px 34px 24px;
    margin-top: 60px;
    margin-left: 100px;
}

.no-access-block {
    padding: 20px 30px;
    height: 100%;
    min-height: calc(100vh - 104px);
    border-radius: 8px;
    background: #fff;
    width: 94%;
}

.no-access-text {
    font: normal normal normal 20px/33px MyriadPro-Regular;
    letter-spacing: 0px;
    color: #1268B3;
    opacity: 0.92;
    margin-left: 35%;
}

.back-to-login {
    float: right;
    font-family: 'Avenir-Heavy';
}