.ticket-heading {
    display: flex;
    .new-ticket-btn {
        left: 88%;
        margin-top: 7px;
        font-size: 1.25rem;
        padding-top: 1px;
    }
}

.ticketModalAttachmentText {
    margin-top: 15px !important;
    white-space: nowrap;
}

.ticketUploadBtn {
    height: 40px !important;
    margin-top: 5px !important;
}

.ticketFileNameSpan {
    margin-top: 15px !important;
    font-size: 1rem;
}

.priority-color {
    color: #1268B3;
}