/* Extra small devices (portrait phones, less than 360px) */
@media (max-width: 360px) { 
    .tcp-form-wrapper h1 {
        margin-top: 30%;
        font-size: 35px;
    }
    .tcp-logo-block h2 {
        font-size: 18px;
        margin-top: 3% !important;
    }
    .distributer-btn {
        padding-top: 3%;
    }
}

/* Extra small devices (portrait phones, less than 576px) */

@media (max-width: 575.98px) {
    .tcp-form-wrapper {
        padding-top: 10%;
    }
    .tcp-form-wrapper h1 {
        margin-top: 20%;
    }
    .tcp-logo-block h2 {
        margin-top: 4%;
    }
    .tcp-logo-block img {
        margin-top: 20%;
    }
    .form-block input {
        height: 35px;
    }
    .default-btn {
        height: 35px;
        padding-top: 5px;
        font-size: 15px;
    }
}


/* Small devices (landscape phones, 576px and up) */

@media (min-width: 576px) and (max-width: 767.98px) {
    .tcp-form-wrapper h1 {
        /* margin-bottom: 20px; */
        font-size: 30px;
    }
    .tcp-logo-block h2 {
        font-size: 15px;
        margin-top: 1%;
    }
    .form-block input{
        height: 45px;
    }
    .distributer-btn {
        padding-top: 0px;
    }
    .default-btn {
        height: 35px;
        padding-top: 5px;
        font-size: 15px;
    }
}


/* Medium devices (tablets, 768px and up) */

@media (min-width: 768px) and (max-width: 991.98px) {
    .tcp-form-wrapper h1 {
        margin-bottom: 20px;
        font-size: 35px;
    }
    .tcp-logo-block h2 {
        font-size: 18px;
        margin-top: 2%;
    }
    .form-block input {
        height: 45px;
    }
    .distributer-btn {
        padding-top: 5px;
    }
    .default-btn {
        height: 45px;
        padding-top: 10px;
    }
}


/* Large devices (desktops, 992px and up) */

@media (min-width: 992px) and (max-width: 1199.98px) {}


/* Extra large devices (large desktops, 1200px and up) */

@media (min-width: 1200px) {}

.loginContainer {
    width: 45%;
    height: 65vh;
    background-color: #ffffff;
    margin-left: 25%;
    margin-top: -10%;
    border-radius: 10px;
    .loginInput {
        margin-top: 35%;
        margin-left: 5%;
        width: 90%;
        font-size: 20px;
        padding-left: 5px;
    }
    .loginInput input {
        border-top-style: hidden;
        border-right-style: hidden;
        border-left-style: hidden;
    }
    .loginBtn {
        margin-left: 33%;
        margin-top: 5%;
        height: 45px;
        font-weight: bold;
        font-size: 25px;
        cursor: pointer;
        background: #2d75d3;
    }
    .loginBtn:hover {
        background: #1890ff;
        color: #ffffff;
        box-shadow: 5px 10px 15px #82a0e6;
    }
}

.loginMobileIcon {
    color: #6c6cef;
}

.loginHeader {
    width: 40%;
    height: 20vh;
    background-color: #2d75d3;
    margin-top: 10%;
    left: 27.5%;
    border-radius: 10px;
    position: relative;
    background-image: linear-gradient(#2d75d3, #4980d1);
    .loginGoogle {
        color: #ffffff;
        font-size: 30px;
        margin-left: 43%;
        padding: 1%;
        cursor: pointer;
    }
}

.loginHeader h1 {
    color: white;
    font-size: 40px;
    padding-left: 35%;
    padding-top: 10%;
}

