.pagination {
    display: flex;
    height: 40px;
    /* margin-left: 15px;
    margin-right: 15px; */
    background: #F5F6F6;
    border-top: 2px solid #f3f3f3;
}

.distributor-main-page .pagination {
    margin-left: 15px;
    margin-right: 15px;
}

.page-select .ant-select-selection {
    border: 0;
    background: #F5F6F6;
    height: 28px;
    margin-top: 4px;
}

.page-select .ant-select:not(.ant-select-customize-input) .ant-select-selector {
    background-color: #f5f6f6;
    border: none;
}

.pagination label {
    margin: 9px;
    color: #333333DE;
    white-space: nowrap;
    font-family: MyriadPro-Regular;
}

.vl {
    border-left: 1px solid #B5B5B5;
    height: 37px;
    margin-left: 5px;
    margin-right: 5px;
}

.page-right {
    display: flex;
    margin-left: auto;
    /* width: 19%; */
}

.page-right button {
    width: 50px;
    border: 0;
    border-left: 1px solid #B5B5B5;
}

.page-right button:hover {
    border: 1px solid #1A81D9;
}

/* Extra small devices (portrait phones, less than 360px) */
@media (max-width: 360px) {
    /* .pagination {
        margin-left: 3.6% !important;
        margin-right: 0;
    } */

    .pagination label,
    .page-select {
        display: none;
    }

    .vl {
        border: 0;
    }

    .ant-select {
        font-size: 12px;
    }

    /* .page-right button {
        width: 44% !important;
    } */
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    /* .pagination {
        margin-left: 2.5%;
        margin-right: 0;
    } */

    .pagination label,
    .page-select {
        display: none;
    }

    .vl {
        border: 0;
    }

    .ant-select {
        font-size: 12px;
    }

    .page-right {
        margin-left: 0;
        width: 100%;
        justify-content: center;
    }

    /* .page-right button {
        width: 46%;
    } */
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
    .pagination {
        margin-left: 2.5%;
        margin-right: 0;
    }

    .page-right {
        width: 39%;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
    .pagination {
        margin-left: 2.4%;
        margin-right: 2.4%;
    }

    .page-right {
        width: 35%;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
    .page-right {
        width: 25%;
    }
}